/*  
introducao-a-html-e-css_4
HTML semântico
*/
body {
  background-color: blueviolet;
  padding: 5px;
}

main {
  background-color: #c5c5c5;
  padding: 5px;
}

header {
  background-color: #c9c9c9;
  text-align: center;
  padding: 10px;
  position: fixed;
  margin-top: 0;
  width: 94%;
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}

header p{
  margin-left: 200px;
}

nav ul {
  text-align: center;
  padding: 5px;
  background-color: #e6e3e3;
  position: fixed;
  margin-top: 100px;
}

nav ul li {
  display: inline;
  margin: 5px;
}

nav ul li a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fc0808;
  font-size: 16px;
}

nav ul li a:hover {
  font-size: 15px;
  color: #1266d3;
}

article {
  height: max-content;
  min-height: 97vh;
  padding: 10px;
}

article .sob {
  padding: 10px;
  margin-top: 135px;
  background-color: rosybrown;
  border-bottom: solid 1px rgb(250, 252, 250);
}

article .sob h2 {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px rgb(247, 149, 1);
}

article .sob figure {
  display: inline-block;
  margin-top: 40px;
  padding: 10px;
  width: auto;
  height: 400px;
}

article .sob figure p {
  float: left;
  padding: 10px;
  width: 50%;
  height: auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

article .sob figure img {
  float: right;
  padding: 10px;
  width: 40%;
  height: auto;
}

.informações {
  height: max-content;
  min-height: 97vh;
  padding: 10px;
}

.informações .info {
  padding: 10px;
  max-width: 98%;
  min-height: 569px;
  margin-top: 140px;
  background-color: rosybrown;
  border-bottom: solid 1px rgb(250, 252, 250);
}

.informações .info h2 {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px rgb(247, 149, 1);
}

.informações .info ul {
  float: left;
  padding: 10px;
  margin-top: 80px;
  width: 40%;
}

.informações .info ul li {
  padding: 1px;
  text-align: left;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.informações .info ul li em {
  color: #011d42;
  font-size: 18px;
}

.informações .info figure {
  margin-left: 50%;
  width: 45%;
  margin-top: 110px;
}

.informações .info figure p {
  font-size: 14px;
}

.informações .info figure img {
  width: 100%;
  margin-top: 5px;
}

.fatos {
  height: max-content;
  min-height: 97vh;
  padding: 10px;
}

.fatos .fat {
  padding: 10px;
  margin-top: 140px;
  background-color: rosybrown;
  border-bottom: solid 1px rgb(250, 252, 250);
}

.fatos .fat h2 {
  padding: 10px;
  margin-top: 30px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px rgb(247, 149, 1);
}

.fatos .fat figure {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
  width: auto;
  height: 400px;
}

.fatos .fat figure p {
  float: left;
  padding: 10px;
  width: 50%;
  height: auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.fatos .fat figure img {
  float: right;
  padding: 10px;
  width: 40%;
  height: auto;
}

.interessante {
  height: max-content;
  min-height: 97vh;
  padding: 10px;
}

.interessante .int {
  padding: 10px;
  margin-top: 140px;
  background-color: rosybrown;
  border-bottom: solid 1px rgb(250, 252, 250);
}

.interessante .int h2 {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px rgb(247, 149, 1);
}

.interessante .int figure {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
  width: auto;
  height: 400px;
}

.interessante .int figure p {
  float: left;
  padding: 10px;
  width: 50%;
  height: auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.interessante .int figure img {
  float: right;
  padding: 10px;
  width: 40%;
  height: auto;
}

.bibliografias {
  height: max-content;
  min-height: 97vh;
  padding: 10px;
}

.bibliografias .bib {
  padding: 10px;
  margin-top: 200px;
  background-color: rosybrown;
  border-bottom: solid 1px rgb(250, 252, 250);
}

.bibliografias .bib h2 {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px rgb(247, 149, 1);
}

.bibliografias .bib a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 0;
}

.bibliografias .bib p {
  margin-top: 30px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
